@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Dosis|K2D|Roboto+Condensed');

.App {
  text-align: center;
  position: relative;
}

h1 {
  font-family: 'K2D', sans-serif;
}

h3 {
  font-family: 'Dosis', sans-serif;
  opacity: 0.8;
}

#copy-button {
  position: absolute;
  top: 270px;
  margin: 5px;
}

.Footer {
  opacity: 0.8;
}

.footer-source-code {
  text-decoration: none;
  color: inherit;
  opacity: 0.7;
}

.footer-source-code:hover {
  opacity: 1;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(60, 8px);
  grid-gap: 10px;
  padding: 16px 7px 7px 7px;
  background-color: #212a44;
  border-radius: 2px;
  box-shadow: 
    0 2px 2px 0 rgba(0,0,0,0.14),
    0 3px 1px -2px rgba(0,0,0,0.2), 
    0 1px 5px 0 rgba(0,0,0,0.12);
  width: 1070px;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
}

.key {
  display: flex;
  grid-column: span 4;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 35px;
  background-color: #535f83;
  border-radius: 2px;
  transition: opacity 0.3s boxShadow 0.5s;
}

.key:hover {
  opacity: 0.8;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}

.letter {
  background-color: #7c85a1;
  font-size: 24px;
}

.keyboard__key--1-25u {
  grid-column: span 5;
}

/* 1.5u key */
.keyboard__key--1-5u {
  grid-column: span 6;
}

/* 1.75u key */
.keyboard__key--1-75u {
  grid-column: span 7;
}

/* 2u key */
.keyboard__key--2u {
  grid-column: span 8;
}

/* 2.25u key */
.keyboard__key--2-25u {
  grid-column: span 9;
}

/* 2.5u key */
.keyboard__key--2-5u {
  grid-column: span 10;
}

/* 2.75u key */
.keyboard__key--2-75u {
  grid-column: span 11;
}

/* 6.25u space key */
.keyboard__key--6-25u {
  grid-column: span 25;
}

#input-text-field {
  height: 200px;
  width: 400px;
  margin-bottom: 20px;
  font-size: 20px;
  border: 2px solid #212a44;
  border-radius: 5px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s;
}

.not-focused-text-field {
  opacity: 0.7;
}

.focus-text-field {
  opacity: 1;
}

#input-text-field:focus {
  opacity: 1;
}

#input-text-field:hover {
  opacity: 1;
}
